.icon-lang {
    color: var(--color-text);
    font-size: 23px;
    cursor: pointer;
}

.lang {
    position: relative;
}

.lang ul {
    position: absolute;
    margin-top: 12px;
    color: var(--color-text);
    background-color: var(--color-cart-background);
    width: 100px;
    left: -40px;
    border-radius: 8px;
}

.lang ul li {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.lang ul li a {
    color: var(--color-text);
}

.lang ul li:hover {
    background-color: var(--color-blue);
}