.doc-edit {
    margin-top: 10px;
    background-color: var(--color-cart-background);
    height: calc(100% - 65px);
    border-radius: 10px;
    box-sizing: border-box;


}

.doc-edit .document-content {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 13px 0 0 0;
}

.doc-edit .document-content h1 {

    color: var(--color-text);
    padding-bottom: 14px;


}

.doc-edit .document-content span {
    font-size: 17px;
    color: var(--color-yellow);
    font-weight: 600;
    display: block;
    padding-bottom: 20px
}

.doc-edit .document-content .text {
    color: var(--color-text)
}